.env
.cache
.venv
.vscode
!spec/**/*.html
day 48/geckodriver.exe
geckodriver.log
!spec/**/*.png
!spec/**/*.ico
!spec/**/*.css
day 59/static/favicon.ico
day 59/static/css/styles.css
day 59/static/img/about-bg.jpg
day 59/static/img/contact-bg.jpg
day 59/static/img/home-bg.jpg
day 59/static/img/post-bg.jpg
day 59/static/img/post-sample-image.jpg
day 59/static/js/scripts.js
day 62/requirements.txt
day 62/static/css/styles.css
day 62/cafe-data.csv
day 63/requirements.txt
day 63/pyproject.toml
day 63/poetry.lock
day 63/books-collection.db
instance/new-books-collection.db
instance/fav_movies.db
day 64/__pycache__/database_manager.cpython-310.pyc
day 64/static/css/styles.css
