.env
.cache
.venv
.vscode
!spec/**/*.html
day 48/geckodriver.exe
geckodriver.log
!spec/**/*.png
!spec/**/*.ico
!spec/**/*.css
day 59/static/favicon.ico
day 59/static/css/styles.css
day 59/static/img/about-bg.jpg
day 59/static/img/contact-bg.jpg
day 59/static/img/home-bg.jpg
day 59/static/img/post-bg.jpg
day 59/static/img/post-sample-image.jpg
day 59/static/js/scripts.js
day 62/requirements.txt
day 62/static/css/styles.css
day 62/cafe-data.csv
day 63/requirements.txt
day 63/pyproject.toml
day 63/poetry.lock
day 63/books-collection.db
instance/new-books-collection.db
instance/fav_movies.db
day 64/__pycache__/database_manager.cpython-310.pyc
day 64/static/css/styles.css
day 66/cafes.db
instance/cafes.db
day 67/pyproject.toml
day 67/requirements.txt
day 67/static/css/clean-blog.css
day 67/static/css/clean-blog.min.css
day 67/static/img/about-bg.jpg
day 67/static/img/contact-bg.jpg
day 67/static/img/edit-bg.jpg
day 67/static/js/clean-blog.js
day 67/static/js/clean-blog.min.js
day 67/static/js/contact_me.js
day 67/static/js/jqBootstrapValidation.js
day 67/static/scss/_bootstrap-overrides.scss
day 67/static/scss/_contact.scss
day 67/static/scss/_footer.scss
day 67/static/scss/_global.scss
day 67/static/scss/_masthead.scss
day 67/static/scss/_mixins.scss
day 67/static/scss/_navbar.scss
day 67/static/scss/_post.scss
day 67/static/scss/_variables.scss
day 67/static/scss/clean-blog.scss
day 67/static/vendor/bootstrap/css/bootstrap-grid.css
day 67/static/vendor/bootstrap/css/bootstrap-grid.css.map
day 67/static/vendor/bootstrap/css/bootstrap-grid.min.css
day 67/static/vendor/bootstrap/css/bootstrap-grid.min.css.map
day 67/static/vendor/bootstrap/css/bootstrap-reboot.css
day 67/static/vendor/bootstrap/css/bootstrap-reboot.css.map
day 67/static/vendor/bootstrap/css/bootstrap-reboot.min.css
day 67/static/vendor/bootstrap/css/bootstrap-reboot.min.css.map
day 67/static/vendor/bootstrap/css/bootstrap.css
day 67/static/vendor/bootstrap/css/bootstrap.css.map
day 67/static/vendor/bootstrap/css/bootstrap.min.css
day 67/static/vendor/bootstrap/css/bootstrap.min.css.map
day 67/static/vendor/bootstrap/js/bootstrap.bundle.js
day 67/static/vendor/bootstrap/js/bootstrap.bundle.js.map
day 67/static/vendor/bootstrap/js/bootstrap.bundle.min.js
day 67/static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
day 67/static/vendor/bootstrap/js/bootstrap.js
day 67/static/vendor/bootstrap/js/bootstrap.js.map
day 67/static/vendor/bootstrap/js/bootstrap.min.js
day 67/static/vendor/bootstrap/js/bootstrap.min.js.map
day 67/static/vendor/fontawesome-free/css/all.css
day 67/static/vendor/fontawesome-free/css/all.min.css
day 67/static/vendor/fontawesome-free/css/brands.css
day 67/static/vendor/fontawesome-free/css/brands.min.css
day 67/static/vendor/fontawesome-free/css/fontawesome.css
day 67/static/vendor/fontawesome-free/css/fontawesome.min.css
day 67/static/vendor/fontawesome-free/css/regular.css
day 67/static/vendor/fontawesome-free/css/regular.min.css
day 67/static/vendor/fontawesome-free/css/solid.css
day 67/static/vendor/fontawesome-free/css/solid.min.css
day 67/static/vendor/fontawesome-free/css/svg-with-js.css
day 67/static/vendor/fontawesome-free/css/svg-with-js.min.css
day 67/static/vendor/fontawesome-free/css/v4-shims.css
day 67/static/vendor/fontawesome-free/css/v4-shims.min.css
day 67/static/vendor/fontawesome-free/webfonts/fa-brands-400.eot
day 67/static/vendor/fontawesome-free/webfonts/fa-brands-400.svg
day 67/static/vendor/fontawesome-free/webfonts/fa-brands-400.woff
day 67/static/vendor/fontawesome-free/webfonts/fa-brands-400.woff2
day 67/static/vendor/fontawesome-free/webfonts/fa-regular-400.svg
day 67/static/vendor/fontawesome-free/webfonts/fa-regular-400.ttf
day 67/static/vendor/fontawesome-free/webfonts/fa-regular-400.woff
day 67/static/vendor/fontawesome-free/webfonts/fa-regular-400.woff2
day 67/static/vendor/fontawesome-free/webfonts/fa-solid-900.eot
day 67/static/vendor/fontawesome-free/webfonts/fa-solid-900.svg
day 67/static/vendor/fontawesome-free/webfonts/fa-solid-900.ttf
day 67/static/vendor/fontawesome-free/webfonts/fa-solid-900.woff
day 67/static/vendor/fontawesome-free/webfonts/fa-solid-900.woff2
day 67/static/vendor/jquery/jquery.js
day 67/static/vendor/jquery/jquery.min.js
day 67/static/vendor/jquery/jquery.min.map
day 67/static/vendor/jquery/jquery.slim.js
day 67/static/vendor/jquery/jquery.slim.min.js
day 67/static/vendor/jquery/jquery.slim.min.map
instance/posts.db
day 67/poetry.lock
instance/users.db
day 68/static/files/cheat_sheet.pdf
day 68/static/css/styles.css
day 68/requirements.txt
day 69/poetry.lock
day 69/pyproject.toml
day 69/static/css/clean-blog.css
day 69/static/css/clean-blog.min.css
day 69/static/img/about-bg.jpg
day 69/static/img/contact-bg.jpg
day 69/static/img/edit-bg.jpg
day 69/static/js/clean-blog.js
day 69/static/js/clean-blog.min.js
day 69/static/js/contact_me.js
day 69/static/js/jqBootstrapValidation.js
day 69/static/scss/_bootstrap-overrides.scss
day 69/static/scss/_contact.scss
day 69/static/scss/_footer.scss
day 69/static/scss/_global.scss
day 69/static/scss/_masthead.scss
day 69/static/scss/_mixins.scss
day 69/static/scss/_navbar.scss
day 69/static/scss/_post.scss
day 69/static/scss/_variables.scss
day 69/static/scss/clean-blog.scss
day 69/static/vendor/bootstrap/css/bootstrap-grid.css
day 69/static/vendor/bootstrap/css/bootstrap-grid.css.map
day 69/static/vendor/bootstrap/css/bootstrap-grid.min.css
day 69/static/vendor/bootstrap/css/bootstrap-grid.min.css.map
day 69/static/vendor/bootstrap/css/bootstrap-reboot.css
day 69/static/vendor/bootstrap/css/bootstrap-reboot.css.map
day 69/static/vendor/bootstrap/css/bootstrap-reboot.min.css
day 69/static/vendor/bootstrap/css/bootstrap-reboot.min.css.map
day 69/static/vendor/bootstrap/css/bootstrap.css
day 69/static/vendor/bootstrap/css/bootstrap.css.map
day 69/static/vendor/bootstrap/css/bootstrap.min.css
day 69/static/vendor/bootstrap/css/bootstrap.min.css.map
day 69/static/vendor/bootstrap/js/bootstrap.bundle.js
day 69/static/vendor/bootstrap/js/bootstrap.bundle.js.map
day 69/static/vendor/bootstrap/js/bootstrap.bundle.min.js
day 69/static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
day 69/static/vendor/bootstrap/js/bootstrap.js
day 69/static/vendor/bootstrap/js/bootstrap.js.map
day 69/static/vendor/bootstrap/js/bootstrap.min.js
day 69/static/vendor/bootstrap/js/bootstrap.min.js.map
day 69/static/vendor/fontawesome-free/css/all.css
day 69/static/vendor/fontawesome-free/css/all.min.css
day 69/static/vendor/fontawesome-free/css/brands.css
day 69/static/vendor/fontawesome-free/css/brands.min.css
day 69/static/vendor/fontawesome-free/css/fontawesome.css
day 69/static/vendor/fontawesome-free/css/fontawesome.min.css
day 69/static/vendor/fontawesome-free/css/regular.css
day 69/static/vendor/fontawesome-free/css/regular.min.css
day 69/static/vendor/fontawesome-free/css/solid.css
day 69/static/vendor/fontawesome-free/css/solid.min.css
day 69/static/vendor/fontawesome-free/css/svg-with-js.css
day 69/static/vendor/fontawesome-free/css/svg-with-js.min.css
day 69/static/vendor/fontawesome-free/css/v4-shims.css
day 69/static/vendor/fontawesome-free/css/v4-shims.min.css
day 69/static/vendor/fontawesome-free/webfonts/fa-brands-400.eot
day 69/static/vendor/fontawesome-free/webfonts/fa-brands-400.svg
day 69/static/vendor/fontawesome-free/webfonts/fa-brands-400.woff
day 69/static/vendor/fontawesome-free/webfonts/fa-brands-400.woff2
day 69/static/vendor/fontawesome-free/webfonts/fa-regular-400.svg
day 69/static/vendor/fontawesome-free/webfonts/fa-regular-400.ttf
day 69/static/vendor/fontawesome-free/webfonts/fa-regular-400.woff
day 69/static/vendor/fontawesome-free/webfonts/fa-regular-400.woff2
day 69/static/vendor/fontawesome-free/webfonts/fa-solid-900.eot
day 69/static/vendor/fontawesome-free/webfonts/fa-solid-900.svg
day 69/static/vendor/fontawesome-free/webfonts/fa-solid-900.ttf
day 69/static/vendor/fontawesome-free/webfonts/fa-solid-900.woff
day 69/static/vendor/fontawesome-free/webfonts/fa-solid-900.woff2
day 69/static/vendor/jquery/jquery.js
day 69/static/vendor/jquery/jquery.min.js
day 69/static/vendor/jquery/jquery.min.map
day 69/static/vendor/jquery/jquery.slim.js
day 69/static/vendor/jquery/jquery.slim.min.js
day 69/static/vendor/jquery/jquery.slim.min.map
instance/blog.db
day 69/templates/about.html
day 69/templates/contact.html
day 69/templates/footer.html
day 69/templates/header.html
day 69/__pycache__/forms.cpython-310.pyc
day 72/QueryResults.csv
day 73/data/themes.csv
day 73/data/sets.csv
day 73/data/colors.csv
day 73/data/.DS_Store
day 73/assets/rebrickable_schema.png
day 73/assets/lego_themes.png
day 73/assets/lego_sets.png
day 73/assets/bricks.jpg
day 73/assets/.DS_Store
day 73/.DS_Store
day 74/UE Benefits Search vs UE Rate 2004-20.csv
day 74/UE Benefits Search vs UE Rate 2004-19.csv
day 74/TESLA Search Trend vs Price.csv
day 74/Daily Bitcoin Price.csv
day 74/Bitcoin Search Trend.csv
