<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witalka</title>
    <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
    <h1>I'm Witalka</h1>
    <ul>
        <p id="work_title">Founder of Hello World</p>
        <p id="who_im_i"> I am a window cleaner and love programming</p>
    </ul>

    <hr>

    <h2>Teaching</h2>
    <ul>
        <p class="teaching"> The Python bootcamp</p>
        <p class="teaching"> The JS bootcamp</p>
        <p class="teaching"> The hello world bootcamp</p>
    </ul>
    
    <hr>

    <h2>Work Experience</h2>
    <ul>
        <p class="work">freelancer</p>
        <p class="work">window tinter</p>
        <p class="work">cnc miller</p>
    </ul>

    <hr>

    <h2>Skills</h2>
    <ul>
        <p class="skill">freelancer</p>
        <p class="skill">window tinter</p>
        <p class="skill">cnc miller</p>
    </ul>
    


</body>
</html>