#red {
    font-weight: normal;
}

#blue {
    font-weight: normal;
}

#orange {
    font-weight: normal;
}

#green {
    font-weight: normal;
}

#yellow {
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}